<div class="content-container">
  <div class="title">
    <h1>Dashboard</h1>
  </div>

  <div class="content">
    <%= render 'users/messages/new' %>
    <div class="messages-container">
      <% @messages.each do |message| %>
        <%= render 'users/messages/single', message: message %>
        <br>
      <% end %>
    </div>
  </div>  
</div>
